# report folder
BX/output/
ReportBat/allure-report/
ReportBat/allure/
ReportBat/allure-results/
ReportBat/testoutput/

# config file
*.toml


# os file and other
BX/BXCN_OS5.2/
BX/__pycache__/
ToDo.txt
.idea/
CaseList/__pycache__/
PrivateLib/__pycache__/
PrivateLib/__pycache__/